PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"

# project specific - added by ansible
ENVIRONMENT=production
TYPEORM_CONNECTION=postgres
TYPEORM_ENTITIES=/var/lib/udapeople/src/modules/domain/*/*/*.entity.js
TYPEORM_HOST="{{ TYPEORM_HOST }}"
TYPEORM_PORT={{ TYPEORM_PORT }}
TYPEORM_USERNAME="{{ TYPEORM_USERNAME }}"
TYPEORM_PASSWORD="{{ TYPEORM_PASSWORD }}"
TYPEORM_DATABASE="{{ TYPEORM_DATABASE }}"
